{snippet grid}

<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

{widget $control begin}
{widget $control errors}
{widget $control body}
{widget $control end}

{/snippet}

<script type="text/javascript">
	head.js(
		{$basePath}+'/js/netteForms.js',
		{$basePath}+'/js/jquery.ajaxform.js',
		{$basePath}+'/js/nette.ajax.js',
		{$basePath}+'/js/netteQ.js',
		{$basePath}+'/js/datagrid.js'
		);
</script>
