{snippet grid}

<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

{widget $control begin}
{widget $control errors}
{widget $control body}
{widget $control end}

{/snippet}
